@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
	font-family: 'Ubuntu Mono';
}

#basicSuppliesCount,
#playerAttributes {
	display: inline-block;
	float: left;
	width: 50%;
}

/*td {
	border: 1px solid black;
}*/

.hidden {
	display: none;
}

.controls {
	margin: 0 30%;
	padding-top: 30px;
}

.discription {
	padding-left: 10%;
}

.col1, .col2 {
  white-space: nowrap;
}

.col3 {
  width: 99%;
}

.status {
	position: relative;
}

#main_body {
	width: 50%;
	float: left;
	border: 1px solid gray;
}

#game_console {
	border: 1px solid gray;
	width: 50%;
	margin-left: 50%;
	position: fixed;
}

#logTable {
	width: 90%;
}

#combat_area {
	float: right;
	clear: right;
	width: 50%;
}

#gather_button {
	height: 40px;
	width: 60%;
	margin: 30px 15% 0;
}

/* Pane selection styling */
#paneSelectors {
	width: 50%;
}

#buildingsPane {
	float: left;
	clear: left;
	display: block;
}

#upgradesPane,
#homePane {
	float: left;
	clear: left;
	display: none;
}

#buildings,
#upgrades,
#home {
	width: 100%;
}

#buildings button {
	width: 100px;
	margin-right: 20px;
}

#upgrades button {
	width: 100px;
	margin-right: 20px;
}

#home button {
	width: 100px;
	margin-left: 20px;
}

#selectors {
	width: 100%;
	float: left;
	clear: both;
}

.paneSelector {
	width: 30%;
	line-height: 2em;
	text-align: center;
	margin: 1em 0;
	border: 2px solid black;
	display: inline-block;
}

.paneSelector:hover {
	text-decoration:underline;
	cursor:pointer;
}

.selected {
	border-bottom:none;
	font-weight: bold;	
}

.selected:hover {
	text-decoration:none;
	cursor:auto;
}