@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
	font-family: 'Ubuntu Mono';
}

table {
	display: inline-block;
	float: left;
	width: 50%;
}


.hidden {
	display: none;
}

.controls {
	margin: 0 30%;
	padding-top: 30px;
}

#gather_button {
	height: 40px;
	width: 60%;
	margin: 30px 15% 0;
}