@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
	font-family: 'Ubuntu Mono';
}

table {
	display: inline-block;
	float: left;
	width: 50%;
}

#forage {
	height: 40px;
	width: 60%;
	margin: 30px 15% 0;
}

.hidden {
	display: none;
}